<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/images/gambar1.jpg" alt="head master" class="header-master" />
            </div>
            <div class="col">
                <div class="headmaster-speach">
                    <div class="quote-container left-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote " />
                    </div>
                    <div class="speach-container">
                        <p class="speach-content">
                            "SMA Dharmawangsa, a beacon of excellence in education, fosters a dynamic learning environment where students are empowered to explore, innovate, and excel. With a commitment to holistic development, we nurture the leaders of tomorrow, shaping minds and character for a brighter future."
                        </p>
                    </div>
                    <div class="quote-container right-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote " />
                    </div>
                    <div class="footer">
                        <p class="name">SMA Dharmawangsa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>