<mat-toolbar class="tiny-information-section">
    <span class="section-email">
      <i class="fa-regular fa-envelope"> emailsekolah&#64;gmail.com</i>
    </span>
    <span class="section-phone">
      <i class="fa-solid fa-phone"> 0215863874</i>
    </span>
    <span class="spacer"></span>
    <div class="information-flag">
      <img src="assets/images/indonesia.png" alt="indonesian flag" class="flag indonesian-flag" />
      <img src="assets/images/united-kingdom.png" alt="british flag" class="flag british-flag"/>
    </div>
</mat-toolbar>