<div class="achievement-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Our Achievements</h1>
      </div>
    </div>
    <div class="image-grid-wrapper">
      <div class="image-grid">
        <div class="achievement-1">
            <div class="achievementOverlay"></div>
            <div class="achievement-description">
                <h1>School Awards</h1>
                <p>Teks</p>
            </div>
        </div>
        <div class="achievement-2">
            <div class="achievementOverlay"></div>
            <div class="achievement-description">
                <h1>2nd Place in Archery Competition at Provincial Level</h1>
                <p>Securing the second position in the provincial-level archery competition, our school's archery team displayed remarkable skill and determination.</p>
            </div>
        </div>
        <div class="achievement-3">
            <div class="achievementOverlay"></div>
            <div class="achievement-description">
                <h1>3rd Place in Swimming Competition at Provincial Level</h1>
                <p>Achieving the third place in the provincial-level swimming competition, our school's swimming team demonstrated outstanding performance and sportsmanship.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
